body {
  padding: 0;
  margin: 0;
}

div.body-container {
  width: 90%;
  margin: 20px auto;
}

div.main-content-container {
  display: flex;
  align-items: flex-start;
  width: 90%;
  margin: 20px auto;
}
